@import "default.css";
@import "mail-visual-section.css";
@import "contact-section.css";

body {
    font-family: 'Nunito';
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.color-main {
    color: #FF0080;
}

.section-title {
    font-size: 1.7rem;
    padding-top: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #FF0080;
    display: inline-block;
    color: #FF0080;
    margin-bottom: 30px;
    text-align: center;
}
