.contact-form {
    width: 60%;
    margin: 0 20%;
}

.contact-form table {
    width: 100%;
}

.contact-form th {
    font-size: 0.7rem;
    width: 30%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background-color: #FFF0F0;
    padding: 5px 20px;
    color: gray;
}

.contact-form button[type="submit"] {
    font-size: 0.7rem;
    padding: 5px 50px;
    background-color: #FF0080;
    color: white;
    transition-duration: 0.5s;
    margin-top: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.contact-form button[type="submit"]:hover {
    border: 1px solid #FF0080;
    color: #FF0080;
    background-color: transparent;
}

.error-msg {
    font-size: 0.7rem;
    color: red;
    margin-bottom: 20px;
}

.contact-result {
    width: 50%;
    right: 30px;
    top: 20px;
    position: fixed;
    background: forestgreen;
    padding: 10px 30px;
    text-align: left;
    color: white;
    box-shadow: 3px 3px yellowgreen;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
    opacity: 100%;
}

.contact-result:hover {
    opacity: 80%;
}
