
.main-visual-section {
    font-size: 3rem;
    height: 100vh;
}

.main-visual-section span {
    display: contents;
}

.btn-go-to-who-i-am {
    font-size: 1.5rem;
    padding: 15px 50px;
    border: 1px solid #FF0080;
    background-color: transparent;
    transition-duration: 0.5s;
    margin-top: 50px;
    cursor: pointer;
}

.btn-go-to-who-i-am:hover {
    background-color: #FF0080;
    color: white;
    transition-duration: 0.5s;
}
